In [50]:
import numpy as np
import pandas as pd
import requests
import io
import re

In [23]:
app_id = '--redacted--'
app_key = '--redacted--'
response = requests.get('https://apis.berkeley.edu/coolclimate/footprint-defaults?input_location_mode=1&input_location=94704&input_income=1&input_size=0',  
                        auth=(app_id, app_key))

In [4]:
response.status_code

200

In [88]:
# response.content

In [87]:
xml_data = response.content.decode('utf-8')
parsed_data = np.array(re.findall(r'<(\w+)\b>(\d+\.*\d*)<\/\1>', xml_data))

features = parsed_data[:, 0]
numbers = np.array(parsed_data[:, 1], dtype=float)
numbers = numbers.reshape((1, numbers.shape[0]))

df = pd.DataFrame(numbers, columns=features)
df.head()

,input_location,input_location_mode,input_size,input_income,input_population,input_changed,input_footprint_household_adults,input_footprint_household_children,input_footprint_transportation_num_vehicles,input_footprint_transportation_miles1,...,result_takeaction_offset_housing_transpledges,result_takeaction_low_carbon_diet_meatcal,result_takeaction_low_carbon_diet_dairycal,result_takeaction_low_carbon_diet_fvcal,result_takeaction_low_carbon_diet_cerealscal,result_takeaction_low_carbon_diet_othercal,result_takeaction_low_carbon_diet_totalcal,result_takeaction_offset_shopping_transtonsleft,result_takeaction_offset_shopping_transpledges,internal_vehiclemiles
0,94704.0,1.0,0.0,1.0,21471.0,0.0,2.5,0.0,2.0,5500.0,...,0.0,244.35,185.9,487.8,970.05,331.2,2219.3,15.105541,0.0,9926.21