In [1]:
import pandas as pd

In [3]:
cc_zipcode = pd.read_excel('../../data/Jones-Kammen-2014-Zip-City-County-Results.xlsx', sheet_name='zip code results')
cc_zipcode.head()

,ZipCode,Population,PersonsPerHousehold,AverageHouseValue,IncomePerHousehold,Latitude,Longitude,Elevation,State,StateFullName,...,FUELOIL (gallons),Vehicle miles traveled,Transport (tCO2e/yr),Housing (tCO2e/yr),Food (tCO2e/yr),Goods (tCO2e/yr),Services (tCO2e/yr),Total Household Carbon Footprint (tCO2e/yr),HouseholdsPerZipCode,Total Zip Code Carbon Footprint (tCO2e/yr)
0,1001,16576,2.27,127300,45735,42.070743,-72.625036,70,MA,Massachusetts,...,182.080258,22351,15.638928,11.475951,6.81,5.308949,6.071196,45.305024,7279,329775.266933
1,1002,36794,2.46,178200,42567,42.376860,-72.469140,140,MA,Massachusetts,...,327.750703,19817,13.895789,11.545354,7.38,5.180926,5.807919,43.809988,10177,445854.242972
2,1005,5077,2.69,123800,50395,42.433445,-72.114991,475,MA,Massachusetts,...,595.222740,28008,19.192342,14.817438,8.07,5.764939,6.497346,54.342065,1979,107542.947356
3,1007,13017,2.65,145100,52425,42.278884,-72.410245,140,MA,Massachusetts,...,546.546883,29962,20.486840,14.111831,7.95,5.880773,6.670959,55.100403,5065,279083.543255
4,1008,1235,2.68,128100,52663,42.143237,-72.930317,70,MA,Massachusetts,...,634.731912,33132,22.438266,15.495700,8.04,5.906753,6.693114,58.573833,525,30751.262386

In [5]:
ca_zipcode = cc_zipcode[cc_zipcode['State'] == 'CA']
ca_zipcode.shape

(1659, 31)

In [6]:
ca_zipcode.head()

,ZipCode,Population,PersonsPerHousehold,AverageHouseValue,IncomePerHousehold,Latitude,Longitude,Elevation,State,StateFullName,...,FUELOIL (gallons),Vehicle miles traveled,Transport (tCO2e/yr),Housing (tCO2e/yr),Food (tCO2e/yr),Goods (tCO2e/yr),Services (tCO2e/yr),Total Household Carbon Footprint (tCO2e/yr),HouseholdsPerZipCode,Total Zip Code Carbon Footprint (tCO2e/yr)
28629,90001,54481,4.35,138900,24207,33.974243,-118.245169,267,CA,California,...,0.000000,15862,10.218853,6.622800,13.05,4.679496,4.317047,38.888196,13302,517290.783459
28630,90002,44584,4.16,127700,22872,33.949380,-118.245060,267,CA,California,...,0.475335,15536,10.018989,7.143323,12.48,4.518860,4.190605,38.351776,11838,454008.330077
28631,90003,58187,4.00,134400,22346,33.963792,-118.274249,267,CA,California,...,0.000000,14614,9.456839,6.890064,12.00,4.449399,4.139889,36.936191,16071,593601.525079
28632,90004,67850,2.91,371100,27591,34.076680,-118.308976,267,CA,California,...,0.578773,13373,9.204518,5.391668,8.73,4.381741,4.535160,32.243087,23922,771319.128605
28633,90005,43014,2.80,392200,21998,34.058999,-118.312752,267,CA,California,...,0.434371,11004,7.551197,4.900292,8.40,3.980317,4.044875,28.876681,15905,459283.617501

In [12]:
sum(ca_zipcode.isna().values)

array([  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0, 123,
       123, 283, 725,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0])

In [30]:
is_NaN = ca_zipcode.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = ca_zipcode[row_has_NaN]
rows_with_NaN.iloc[:, range(12,16)]

      CBSAType                           CBSAName            MSAName PMSA_Name
28914    Metro  San Diego-Carlsbad-San Marcos, CA  San Diego, CA MSA       NaN
28915    Metro  San Diego-Carlsbad-San Marcos, CA  San Diego, CA MSA       NaN
28916    Metro  San Diego-Carlsbad-San Marcos, CA  San Diego, CA MSA       NaN
28917    Metro  San Diego-Carlsbad-San Marcos, CA  San Diego, CA MSA       NaN
28918    Metro  San Diego-Carlsbad-San Marcos, CA  San Diego, CA MSA       NaN
...        ...                                ...                ...       ...
30275      NaN                                NaN                NaN       NaN
30276      NaN                                NaN                NaN       NaN
30277    Micro                     Susanville, CA                NaN       NaN
30278    Micro                     Susanville, CA                NaN       NaN
30287    Micro           Truckee-Grass Valley, CA                NaN       NaN

[725 rows x 4 columns]