In [9]:
import numpy as np
import pandas as pd
import requests
import io
import re

In [62]:
# henry
app_id = '3417a661'
app_key = '945d1277cf4cdc94f3c59bb5e1edf189'
url = 'https://apis.berkeley.edu/coolclimate/footprint-defaults?input_location_mode=1&input_location=94704&input_income=2&input_size=1'
response = requests.get(url, auth=(app_id, app_key))

In [63]:
response.status_code

200

In [64]:
response

In [65]:
xml_data = response.content.decode('utf-8')
parsed_data = np.array(re.findall(r'<(\w+)\b>(\d+\.*\d*)<\/\1>', xml_data))

features = parsed_data[:, 0]
numbers = np.array(parsed_data[:, 1], dtype=float)
numbers = numbers.reshape((1, numbers.shape[0]))

df = pd.DataFrame(numbers, columns=features)
df.head()

,input_location,input_location_mode,input_size,input_income,input_population,input_changed,input_footprint_household_adults,input_footprint_household_children,input_footprint_transportation_num_vehicles,input_footprint_transportation_miles1,...,result_takeaction_offset_housing_transpledges,result_takeaction_low_carbon_diet_meatcal,result_takeaction_low_carbon_diet_dairycal,result_takeaction_low_carbon_diet_fvcal,result_takeaction_low_carbon_diet_cerealscal,result_takeaction_low_carbon_diet_othercal,result_takeaction_low_carbon_diet_totalcal,result_takeaction_offset_shopping_transtonsleft,result_takeaction_offset_shopping_transpledges,internal_vehiclemiles
0,94704.0,1.0,1.0,2.0,21471.0,0.0,1.0,0.0,1.0,3100.0,...,0.0,244.35,185.9,487.8,970.05,331.2,2219.3,5.351749,0.0,3055.900803

In [9]:
df.columns

Index(['input_location', 'input_location_mode', 'input_size', 'input_income',
       'input_population', 'input_changed', 'input_footprint_household_adults',
       'input_footprint_household_children',
       'input_footprint_transportation_num_vehicles',
       'input_footprint_transportation_miles1',
       ...
       'result_takeaction_offset_housing_transpledges',
       'result_takeaction_low_carbon_diet_meatcal',
       'result_takeaction_low_carbon_diet_dairycal',
       'result_takeaction_low_carbon_diet_fvcal',
       'result_takeaction_low_carbon_diet_cerealscal',
       'result_takeaction_low_carbon_diet_othercal',
       'result_takeaction_low_carbon_diet_totalcal',
       'result_takeaction_offset_shopping_transtonsleft',
       'result_takeaction_offset_shopping_transpledges',
       'internal_vehiclemiles'],
      dtype='object', length=334)

---

Trying to adjust the default options [`/footprint-default`](https://api-central.berkeley.edu/api/11/interactive-docs#/default/getDefaultFootprint) options

In [67]:
jk_ca = pd.read_csv('../../data/jones-kammen-ca-data.csv')
zip_codes = jk_ca['ZipCode']

In [68]:
# possible values
input_income = np.arange(2, 12, dtype=int)
input_size = [3]
input_location_mode = {'zip code' : 1, 'city' : 2, 'county' : 3, 'state' : 4} # granularity is in order: smallest to largest
                                                                              # DOES NOT WORK FOR API: ERROR CODE 5
# customize this!
mode = input_location_mode['zip code']

# initialize empty dataframe
data = pd.DataFrame(columns=df.columns)

for inc in input_income:
    for size in input_size:
        for zc in zip_codes:
            # get the data from the API for this iteration
            url = 'https://apis.berkeley.edu/coolclimate/footprint-defaults?input_location_mode=%d&input_location=%d \
                    &input_income=%d&input_size=%d' % (mode, zc, inc, size)

            response = requests.get(url, auth=(app_id, app_key))

            # parse the requested data from the api
            xml_data = response.content.decode('utf-8')
            parsed_data = np.array(re.findall(r'<(\w+)\b>(\d+\.*\d*)<\/\1>', xml_data))

            # if the parsed data is not empty
            if parsed_data.size > 0:
                features = parsed_data[:, 0]
                observations = np.array(parsed_data[:, 1], dtype=float)
                observations = observations.reshape((1, observations.shape[0]))

                # append to our dataframe
                df = pd.DataFrame(observations, columns=features)
                df['Zip Code'] = zc
                data = data.append(df)
                
        print('still running' + "".join(["." for _ in range(inc)]))

still running..
still running...
still running....
still running.....
still running......
still running.......
still running........
still running.........
still running..........
still running...........

In [69]:
# change each time you run!
data.to_csv('../../data/coolclimate-api-CAzips-size3households-withzc.csv')

In [70]:
data.shape

(1157, 335)

In [71]:
data['input_size'].value_counts()

3.0    1157
Name: input_size, dtype: int64

In [72]:
data.head()

,input_location,input_location_mode,input_size,input_income,input_population,input_changed,input_footprint_household_adults,input_footprint_household_children,input_footprint_transportation_num_vehicles,input_footprint_transportation_miles1,...,result_takeaction_low_carbon_diet_meatcal,result_takeaction_low_carbon_diet_dairycal,result_takeaction_low_carbon_diet_fvcal,result_takeaction_low_carbon_diet_cerealscal,result_takeaction_low_carbon_diet_othercal,result_takeaction_low_carbon_diet_totalcal,result_takeaction_offset_shopping_transtonsleft,result_takeaction_offset_shopping_transpledges,internal_vehiclemiles,Zip Code
0,NaN,1.0,3.0,2.0,54587.0,0.0,2.0,1.0,1.0,8400.0,...,223.95,170.516667,447.0,889.333333,303.6,2034.4,12.495779,0.0,8397.678925,90001.0
0,NaN,1.0,3.0,2.0,44342.0,0.0,2.0,1.0,1.0,8200.0,...,223.95,170.516667,447.0,889.333333,303.6,2034.4,12.333207,0.0,8224.874759,90002.0
0,NaN,1.0,3.0,2.0,59003.0,0.0,2.0,1.0,1.0,7700.0,...,223.95,170.516667,447.0,889.333333,303.6,2034.4,12.264501,0.0,7736.798287,90003.0
0,NaN,1.0,3.0,2.0,67859.0,0.0,2.0,1.0,1.0,7100.0,...,223.95,170.516667,447.0,889.333333,303.6,2034.4,12.375131,0.0,7080.047159,90004.0
0,NaN,1.0,3.0,2.0,43032.0,0.0,2.0,1.0,1.0,5800.0,...,223.95,170.516667,447.0,889.333333,303.6,2034.4,11.899284,0.0,5825.681625,90005.0

In [ ]:
data['input_population'].unique().shape

In [ ]:
data['result_grand_total']