In [2]:
import numpy as np
import pandas as pd
import requests
import io
import re

In [3]:
# jun
app_id = 'd3b20d5a'
app_key = '3fc15daf71f1dbdc7684f4942ee83f2f'
url = 'https://apis.berkeley.edu/coolclimate/footprint-defaults?input_location_mode=1&input_location=94704&input_income=1&input_size=1'
response = requests.get(url, auth=(app_id, app_key))

In [4]:
response.status_code

200

In [5]:
xml_data = response.content.decode('utf-8')
parsed_data = np.array(re.findall(r'<(\w+)\b>(\d+\.*\d*)<\/\1>', xml_data))

features = parsed_data[:, 0]
numbers = np.array(parsed_data[:, 1], dtype=float)
numbers = numbers.reshape((1, numbers.shape[0]))

df = pd.DataFrame(numbers, columns=features)
df.head()

,input_location,input_location_mode,input_size,input_income,input_population,input_changed,input_footprint_household_adults,input_footprint_household_children,input_footprint_transportation_num_vehicles,input_footprint_transportation_miles1,...,result_takeaction_offset_housing_transpledges,result_takeaction_low_carbon_diet_meatcal,result_takeaction_low_carbon_diet_dairycal,result_takeaction_low_carbon_diet_fvcal,result_takeaction_low_carbon_diet_cerealscal,result_takeaction_low_carbon_diet_othercal,result_takeaction_low_carbon_diet_totalcal,result_takeaction_offset_shopping_transtonsleft,result_takeaction_offset_shopping_transpledges,internal_vehiclemiles
0,94704.0,1.0,1.0,1.0,21471.0,0.0,1.0,0.0,1.0,5400.0,...,0.0,244.35,185.9,487.8,970.05,331.2,2219.3,7.760592,0.0,5425.048339

In [6]:
df.columns

Index(['input_location', 'input_location_mode', 'input_size', 'input_income',
       'input_population', 'input_changed', 'input_footprint_household_adults',
       'input_footprint_household_children',
       'input_footprint_transportation_num_vehicles',
       'input_footprint_transportation_miles1',
       ...
       'result_takeaction_offset_housing_transpledges',
       'result_takeaction_low_carbon_diet_meatcal',
       'result_takeaction_low_carbon_diet_dairycal',
       'result_takeaction_low_carbon_diet_fvcal',
       'result_takeaction_low_carbon_diet_cerealscal',
       'result_takeaction_low_carbon_diet_othercal',
       'result_takeaction_low_carbon_diet_totalcal',
       'result_takeaction_offset_shopping_transtonsleft',
       'result_takeaction_offset_shopping_transpledges',
       'internal_vehiclemiles'],
      dtype='object', length=334)

---

Trying to adjust the default options [`/footprint-default`](https://api-central.berkeley.edu/api/11/interactive-docs#/default/getDefaultFootprint) options

In [7]:
jk_ca = pd.read_csv('../../data/jones-kammen-ca-data.csv')
zip_codes = jk_ca['ZipCode']

In [ ]:
# possible values
input_income = np.arange(2, 12, 1, dtype=int)
input_size = [5]
input_location_mode = {'zip code' : 1, 'city' : 2, 'county' : 3, 'state' : 4} # granularity is in order: smallest to largest

# customize this!
mode = input_location_mode['zip code']

# initialize empty dataframe
data = pd.DataFrame(columns=df.columns)

for inc in input_income:
    for size in input_size:
        for zc in zip_codes:
            # get the data from the API for this iteration
            url = 'https://apis.berkeley.edu/coolclimate/footprint-defaults?input_location_mode=%d&input_location=%d \
                    &input_income=%d&input_size=%d' % (mode, zc, inc, size)

            response = requests.get(url, auth=(app_id, app_key))

            # parse the requested data from the api
            xml_data = response.content.decode('utf-8')
            parsed_data = np.array(re.findall(r'<(\w+)\b>(\d+\.*\d*)<\/\1>', xml_data))

            # if the parsed data is not empty
            if parsed_data.size > 0:
                features = parsed_data[:, 0]
                observations = np.array(parsed_data[:, 1], dtype=float)
                observations = observations.reshape((1, observations.shape[0]))

                # append to our dataframe
                df = pd.DataFrame(observations, columns=features)
                df['Zip Code'] = zc
                data = data.append(df)
                
        print('still running' + "".join(["." for _ in range(inc)]))

still running.

In [ ]:
# change each time you run!
data.to_csv('../../data/coolclimate-api-CAzips-size5households-withzc.csv')

In [ ]:
data.shape

In [17]:
data['input_size'].value_counts()

4.0    453
3.0    444
5.0    442
1.0    438
2.0    437
Name: input_size, dtype: int64

In [18]:
data.head()

,input_location_mode,input_size,input_income,input_population,input_changed,input_footprint_household_adults,input_footprint_household_children,input_footprint_transportation_num_vehicles,input_footprint_transportation_miles1,input_footprint_transportation_mpg1,...,result_takeaction_low_carbon_diet_meatcal,result_takeaction_low_carbon_diet_dairycal,result_takeaction_low_carbon_diet_fvcal,result_takeaction_low_carbon_diet_cerealscal,result_takeaction_low_carbon_diet_othercal,result_takeaction_low_carbon_diet_totalcal,result_takeaction_offset_shopping_transtonsleft,result_takeaction_offset_shopping_transpledges,internal_vehiclemiles,Zip Code
0,1.0,1.0,1.0,54587.0,0.0,1.0,0.0,1.0,8700.0,22.0,...,244.35,185.900000,487.80,970.050000,331.20,2219.30,8.859825,0.0,8669.126912,90001
0,1.0,2.0,1.0,54587.0,0.0,2.0,0.0,2.0,9200.0,22.0,...,244.35,185.900000,487.80,970.050000,331.20,2219.30,16.458528,0.0,16799.847068,90001
0,1.0,3.0,1.0,54587.0,0.0,2.0,1.0,2.0,11200.0,22.0,...,223.95,170.516667,447.00,889.333333,303.60,2034.40,19.543771,0.0,20412.694074,90001
0,1.0,4.0,1.0,54587.0,0.0,2.0,2.0,3.0,9500.0,22.0,...,213.75,162.825000,426.60,848.975000,289.80,1941.95,23.157866,0.0,23229.528089,90001
0,1.0,5.0,1.0,54587.0,0.0,2.0,3.0,3.0,9900.0,22.0,...,207.63,158.210000,414.36,824.760000,281.52,1886.48,25.263464,0.0,24243.941486,90001

In [19]:
data['input_population'].unique().shape

(532,)

In [20]:
data['result_grand_total']

0    18.998752
0    33.759699
0    39.390649
0    45.573388
0    48.752482
       ...
0    37.173216
0    41.789164
0    45.209822
0    31.196221
0    43.154113
Name: result_grand_total, Length: 2214, dtype: float64