In [33]:
import numpy as np
import pandas as pd
import requests
import io
import re

In [28]:
app_id = '9dd99282'
app_key = '5a7af113a3c5bed96c076726ff56332b'
url = 'https://apis.berkeley.edu/coolclimate/footprint-defaults?input_location_mode=1&input_location=94704&input_income=1&input_size=1'
response = requests.get(url, auth=(app_id, app_key))

In [29]:
response.status_code

200

In [30]:
xml_data = response.content.decode('utf-8')
parsed_data = np.array(re.findall(r'<(\w+)\b>(\d+\.*\d*)<\/\1>', xml_data))

features = parsed_data[:, 0]
numbers = np.array(parsed_data[:, 1], dtype=float)
numbers = numbers.reshape((1, numbers.shape[0]))

df = pd.DataFrame(numbers, columns=features)
df.head()

,input_location,input_location_mode,input_size,input_income,input_population,input_changed,input_footprint_household_adults,input_footprint_household_children,input_footprint_transportation_num_vehicles,input_footprint_transportation_miles1,...,result_takeaction_offset_housing_transpledges,result_takeaction_low_carbon_diet_meatcal,result_takeaction_low_carbon_diet_dairycal,result_takeaction_low_carbon_diet_fvcal,result_takeaction_low_carbon_diet_cerealscal,result_takeaction_low_carbon_diet_othercal,result_takeaction_low_carbon_diet_totalcal,result_takeaction_offset_shopping_transtonsleft,result_takeaction_offset_shopping_transpledges,internal_vehiclemiles
0,94704.0,1.0,1.0,1.0,21471.0,0.0,1.0,0.0,1.0,5400.0,...,0.0,244.35,185.9,487.8,970.05,331.2,2219.3,7.760592,0.0,5425.048339

In [31]:
df.columns

Index(['input_location', 'input_location_mode', 'input_size', 'input_income',
       'input_population', 'input_changed', 'input_footprint_household_adults',
       'input_footprint_household_children',
       'input_footprint_transportation_num_vehicles',
       'input_footprint_transportation_miles1',
       ...
       'result_takeaction_offset_housing_transpledges',
       'result_takeaction_low_carbon_diet_meatcal',
       'result_takeaction_low_carbon_diet_dairycal',
       'result_takeaction_low_carbon_diet_fvcal',
       'result_takeaction_low_carbon_diet_cerealscal',
       'result_takeaction_low_carbon_diet_othercal',
       'result_takeaction_low_carbon_diet_totalcal',
       'result_takeaction_offset_shopping_transtonsleft',
       'result_takeaction_offset_shopping_transpledges',
       'internal_vehiclemiles'],
      dtype='object', length=334)

---

Trying to adjust the default options [`/footprint-default`](https://api-central.berkeley.edu/api/11/interactive-docs#/default/getDefaultFootprint) options

In [37]:
jk = pd.read_excel('../../data/Jones-Kammen-2014-Zip-City-County-Results.xlsx', sheet_name='zip code results')
jk.head()

,ZipCode,Population,PersonsPerHousehold,AverageHouseValue,IncomePerHousehold,Latitude,Longitude,Elevation,State,StateFullName,...,FUELOIL (gallons),Vehicle miles traveled,Transport (tCO2e/yr),Housing (tCO2e/yr),Food (tCO2e/yr),Goods (tCO2e/yr),Services (tCO2e/yr),Total Household Carbon Footprint (tCO2e/yr),HouseholdsPerZipCode,Total Zip Code Carbon Footprint (tCO2e/yr)
0,1001,16576,2.27,127300,45735,42.070743,-72.625036,70,MA,Massachusetts,...,182.080258,22351,15.638928,11.475951,6.81,5.308949,6.071196,45.305024,7279,329775.266933
1,1002,36794,2.46,178200,42567,42.376860,-72.469140,140,MA,Massachusetts,...,327.750703,19817,13.895789,11.545354,7.38,5.180926,5.807919,43.809988,10177,445854.242972
2,1005,5077,2.69,123800,50395,42.433445,-72.114991,475,MA,Massachusetts,...,595.222740,28008,19.192342,14.817438,8.07,5.764939,6.497346,54.342065,1979,107542.947356
3,1007,13017,2.65,145100,52425,42.278884,-72.410245,140,MA,Massachusetts,...,546.546883,29962,20.486840,14.111831,7.95,5.880773,6.670959,55.100403,5065,279083.543255
4,1008,1235,2.68,128100,52663,42.143237,-72.930317,70,MA,Massachusetts,...,634.731912,33132,22.438266,15.495700,8.04,5.906753,6.693114,58.573833,525,30751.262386

In [48]:
zip_codes = jk[(jk['State'] == 'TX')]['ZipCode']
zip_codes.shape

(1857,)

In [53]:
# possible values
input_income = np.arange(2, 12, 1, dtype=int)
input_size = [5]
input_location_mode = {'zip code' : 1, 'city' : 2, 'county' : 3, 'state' : 4} # granularity is in order: smallest to largest

# customize this!
mode = input_location_mode['zip code']

# initialize empty dataframe
data = pd.DataFrame(columns=df.columns)

for inc in input_income:
    for size in input_size:
        for zc in zip_codes:
            # get the data from the API for this iteration
            url = 'https://apis.berkeley.edu/coolclimate/footprint-defaults?input_location_mode=%d&input_location=%d \
                    &input_income=%d&input_size=%d' % (mode, zc, inc, size)

            response = requests.get(url, auth=(app_id, app_key))

            # parse the requested data from the api
            xml_data = response.content.decode('utf-8')
            parsed_data = np.array(re.findall(r'<(\w+)\b>(\d+\.*\d*)<\/\1>', xml_data))

            # if the parsed data is not empty
            if parsed_data.size > 0:
                features = parsed_data[:, 0]
                observations = np.array(parsed_data[:, 1], dtype=float)
                observations = observations.reshape((1, observations.shape[0]))

                # append to our dataframe
                df = pd.DataFrame(observations, columns=features)
                df['Zip Code'] = zc
                data = data.append(df)
                
        print('still running' + "".join(["." for _ in range(inc)]))

still running..
still running...
still running....
still running.....
still running......
still running.......
still running........
still running.........
still running..........
still running...........

In [54]:
# change each time you run!
data.to_csv('../../data/coolclimate-api-TXzips-size5households-withzc.csv')

In [57]:
data.shape

(1305, 334)

In [56]:
data.head()

,input_location_mode,input_size,input_income,input_population,input_changed,input_footprint_household_adults,input_footprint_household_children,input_footprint_transportation_num_vehicles,input_footprint_transportation_miles1,input_footprint_transportation_mpg1,...,result_takeaction_low_carbon_diet_meatcal,result_takeaction_low_carbon_diet_dairycal,result_takeaction_low_carbon_diet_fvcal,result_takeaction_low_carbon_diet_cerealscal,result_takeaction_low_carbon_diet_othercal,result_takeaction_low_carbon_diet_totalcal,result_takeaction_offset_shopping_transtonsleft,result_takeaction_offset_shopping_transpledges,internal_vehiclemiles,Zip Code
0,1.0,5.0,2.0,8175.0,0.0,2.0,3.0,1.0,13600.0,22.0,...,207.63,158.21,414.36,824.76,281.52,1886.48,20.905353,0.0,13605.560660,75001
0,1.0,5.0,2.0,37171.0,0.0,2.0,3.0,1.0,24300.0,22.0,...,207.63,158.21,414.36,824.76,281.52,1886.48,23.530948,0.0,24288.031392,75002
0,1.0,5.0,2.0,45990.0,0.0,2.0,3.0,1.0,16500.0,22.0,...,207.63,158.21,414.36,824.76,281.52,1886.48,21.100297,0.0,16481.161722,75006
0,1.0,5.0,2.0,50357.0,0.0,2.0,3.0,1.0,20800.0,22.0,...,207.63,158.21,414.36,824.76,281.52,1886.48,23.014340,0.0,20794.870354,75007
0,1.0,5.0,2.0,4913.0,0.0,2.0,3.0,1.0,23200.0,22.0,...,207.63,158.21,414.36,824.76,281.52,1886.48,21.205667,0.0,23218.781321,75009